.skillsSection {
  background: #081c29;
  color: #fff;
  width: 100%;
  height: 100vh;
  padding: 0 10% 0;
  text-align: center;
}

.heading {
  font-size: 60px;
  padding-bottom: 90px;
  font-weight: 400;
}

.highlight {
  color: #00eaff;
}

.skillsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.technical,
.professional {
  width: 48%;
}

.subheading {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.barWrapper {
  display: flex;
  width: 80%;
  align-items: center;
  margin-bottom: 1.5rem;
}

.icon {
  width: 30px;
  font-size: 1.3rem;
}

.bar {
  flex: 1;
  background-color: #000;
  height: 5px;
  margin-left: 10px;
  border-radius: 10px;
  position: relative;
}

.bar > div {
  background-color: #00eaff;
  height: 100%;
  border-radius: 10px;
}
.fill {
  background-color: #00eaff;
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.barLabel {
  position: absolute;
  right: 0;
  top: -20px;
  font-size: 0.75rem;
  color: #fff;
}

.circularWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.svg {
  width: 100px;
  height: 100px;
}

.bg {
  fill: none;
  stroke: black;
  stroke-width: 2.8;
}

.progress {
  fill: none;
  stroke: #00eaff;
  stroke-width: 2.8;
  stroke-linecap: round;
}

.percentage {
  fill: white;
  font-size: 0.3rem;
  text-anchor: middle;
  dominant-baseline: central;
}

.techLabel {
  margin-right: 4px;
  font-weight: 500;
  color: #ccc;
  display: inline-block;
  width: 90px;
}
